
/*ToolBox*/
.toolbox {
  background-color: ghostwhite;
  padding: 10px;
  /*margin: 10px;*/
  overflow: auto;
  position: relative;
  min-width: 380px;
  max-width: 380px;
}

#toolbox {
  position: absolute;
  z-index: 1;
  height: 100%;
  /*min-width: 320px;*/
}

#addImage {
  margin-top: 10px;
  width: 100%;
}

.img-thumbnail {
  /*min-width: 60px;
  min-height:60px;*/
  max-height: 90px;
  max-width: 90px;
  /*prevent dragging image*/
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

textarea {
  resize: none;
  height: 100%;
  width: 100%;
  border:none;
}

.configbuttons {
  margin: 5px;
}


.img-thumbnail {
  margin: 5px;
}
