<div id="modifyTable" class="">

  <table id="editTable" class="table table-bordered">
    <thead>

      <tr>

        <!-- First Column = toolbox -->
        <th style="min-width:150px"> <h4><input [(ngModel)]="aconfig.SelectedTable.Name" class="form-control form-group"> </h4></th>
        <th class="text-center" *ngFor="let cheader of aconfig.SelectedTable.Table.ColumnHeaders">
          <input [(ngModel)]="cheader.Value" class="text-center form-control" />
          <br />
          <input type="button" class="btn btn-sm btn-danger " value="Delete Column" (click)="RemoveColumn(cheader.Id)" />
        </th>
        <th>
          <input type="button" class="btn btn-lg btn-success " value="Add Column" (click)="AddColumn()" />
        </th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let rheader of aconfig.SelectedTable.Table.RowHeaders;let i= index">
        <th>
          <input class="form-control" [(ngModel)]="rheader.Value">
        </th>
        <td style="min-width:380px;" *ngFor="let tlist of GetTableList(rheader.Id)">
          <!-- inline style because this is only for this specific TD's -->
          <div cdkDropList
               id={{tlist.UniqueId}}
               class="row droplist"
               cdkDropListData={{tlist.List}}
               [cdkDropListConnectedTo]=aconfig.ConnectedToList
               (cdkDropListDropped)="drop($event)">

            <div class="col-12" *ngFor="let item of tlist.List" cdkDrag>
              <div class="card">
                <div class="container">
                  <div class="row">

                    <div class="col-xs-4">
                      <img class="img-thumbnail" [src]="item.Image" />
                    </div>
                    <div class="col-xs-6 text-center p-1">
                      <textarea type="text form-control" onkeydown="return (event.keyCode!=13)" [(ngModel)]="item.Text" class="input-group text-center"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </td>
        <td>
          <input type="button" class="btn btn-sm btn-danger btn-block " value="Delete" (click)="RemoveRow(rheader.Id)" />
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="99" style="text-align: left;">
          <input type="button" class="btn btn-lg btn-success btn-block " value="Add Row" (click)="AddRow()" />
          <input type="button" class="btn btn-primary btn-lg btn-block" value="Save" [disabled]="isDubbleNameUsed() != null" title="test" data-toggle="toolstip" data-placement="top" (click)="aconfig.SaveConfiguration(aconfig.SelectedTable)" />
        </td>
      </tr>
    </tfoot>
  </table>
</div>
