<div id="modifyTable" class="">

  <table id="editTable" class="table table-bordered">
    <thead>

      <tr>

        <!-- First Column = toolbox -->
        <th> <h4><input [(ngModel)]="aconfig.SelectedTable.Name" class="text-center"> </h4></th>
        <th class="text-center" *ngFor="let cheader of aconfig.SelectedTable.Table.ColumnHeaders">
          <input [(ngModel)]="cheader.Value" class="text-center" />
          <br />
          <input type="button" class="btn btn-sm btn-danger " value="Delete Column" (click)="RemoveColumn(cheader.Id)" />
        </th>
        <th>
          <input type="button" class="btn btn-lg btn-success " value="Add Column" (click)="AddColumn()" />
        </th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let rheader of aconfig.SelectedTable.Table.RowHeaders;let i= index">
        <th>
          <input [(ngModel)]="rheader.Value">
        </th>
        <td *ngFor="let tlist of GetTableList(rheader.Id)">
          <div cdkDropList
               class="row droplist"
               id={{tlist.UniqueId}}
               cdkDropListData={{tlist.List}}
               [cdkDropListConnectedTo]=aconfig.ConnectedToList
               (cdkDropListDropped)="drop($event)">

            <!-- Show image -->
            <div class="" style="max-width:320px; min-width:320px;" *ngFor="let item of tlist.List" cdkDrag>
              <div class="card">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="imageBox" [ngStyle]="{ 'background-image': 'url(' + item.Image + ')'}"></div>
                  </div>
                  <div class="col-sm-8 text-center p-2">
                    <textarea rows="3" maxlength="50" [(ngModel)]="item.Text" onkeydown="return (event.keyCode!=13)" class="text-center"></textarea>
                  </div>
                </div>
              </div>
            </div>
            &nbsp;
            <!--<div class="box" [ngStyle]="{ 'background-image': 'url(' + item + ')'}" *ngFor="let item of tlist.List" cdkDrag></div>-->
          </div>
        </td>
        <td>
          <input type="button" class="btn btn-sm btn-danger " value="Delete" (click)="RemoveRow(rheader.Id)" style="height:100%" />
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="99" style="text-align: left;">
          <input type="button" class="btn btn-lg btn-success btn-block " value="Add Row" (click)="AddRow()" />
          <input type="button" class="btn btn-primary btn-lg btn-block" value="Save" [disabled]="isDubbleNameUsed() != null" title="test" data-toggle="toolstip" data-placement="top" (click)="SaveConfiguration()" />
        </td>
      </tr>
    </tfoot>
  </table>
</div>
