  <div class="row">
    <div class="col-4 offset-4">
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <label>Username:</label>
          <input type="text" class="form-control" [(ngModel)]="Username" />
          <label>Password:</label>
          <input type="password" class="form-control" [(ngModel)]="Password" />
          <!-- error message -->
          <div class="alert alert-danger text-center" style="margin-top:10px;" *ngIf="InvalidLogin">
            <strong>Login failed</strong> &nbsp; <a>username of password incorrect </a>
          </div>
        </div>
        <div class="card-footer text-center" >
          <button class="btn btn-primary btn-block" (click)="Login()">Login</button>
        </div>
      </div>
    </div>
  </div>
